.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}
.filters{
  background-color:white;
  opacity: 0.3; 
  margin-top: 5%;
}

.top-nav{
  margin-bottom: 5px;
}
h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}
p{
  color: rgb(1, 1, 59);
  margin-bottom: 0 !important;
}
.search {
  margin-bottom: 10px;
  background-color: dimgrey;
  text-align: center;
  align-items: center;
  height:400px;
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;     

}
* {
  padding: 7;
  margin: 7;
  box-sizing: border-box;
}
ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#button-addon1 {
  color: #ffc371;
}

i {
  color: #ffc371;
}
.footer-clean {
  padding:50px 0;
  background-color:#fff;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}


.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}
.container {
  background-color: #939599;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
